@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body {
    background-image: -moz-element();
font-size: 40px;
font-weight: normal;
font-family: 'Roboto', sans-serif;


}
.test {
    max-width: 750px;
  margin: auto;
}
.test2 {
    background: rgba(236, 228, 228, 0.301);
    padding: 1px 15px 25px 50px;
    border-radius: 15px;
}
h1 {
    padding: 1px 15px 1px 200px;   
}
.smile {
    padding: 10px 15px 1px 200px; 
    background: rgba(236, 228, 228, 0.301);
}
.word {
    background: rgba(231, 74, 74, 0.493);
    padding: 10px 20px 10px 20px;
    max-width: 130px;
    border-radius: 28px; 
}